body{
  background-color: #2c7e93;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border-color: black;
  color: #f1e8e8;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position:absolute;
  top: 60px;
  left:10px;
  border: 1px solid;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
img{
  padding: 3em;
  border-color: black;
  border-image:3px ;
  border-radius: 3px;
  display: block;
}

